Repository keepassxreboot/keepassxc, pull requests merged in 2018-06, with the labels that each got.

#1380 Add initial AppVeyor support
  CMakeLists.txt
  COPYING
  appveyor.yml
  ci/appveyor/before-build.sh
  ci/appveyor/build.sh
  ci/appveyor/install.sh
  ci/appveyor/test.sh
  cmake/DeployQt.cmake
  src/CMakeLists.txt
  src/autotype/mac/CMakeLists.txt
Labels: ci, platform: Windows

#1993 Fix entry sorting by title
  src/browser/BrowserService.cpp
Labels: plugin: Browser integration

#2054 Fix macOS build
  src/gui/entry/EditEntryWidget.h
Labels: platform: macOS

#2055 Remove title matching
  src/browser/BrowserService.cpp
Labels: plugin: Browser integration

#2011 Allow multiple image selections when adding favicons
  src/gui/EditWidget.cpp
  src/gui/EditWidgetIcons.cpp
  src/gui/EditWidgetIcons.h
Labels: user interface

#1981 SSH Agent: Fix invalid iqmp output for RSA keys
  src/sshagent/ASN1Key.cpp
  tests/TestOpenSSHKey.cpp
  tests/TestOpenSSHKey.h
Labels: bug, plugin: SSH agent
