Repository keepassxreboot/keepassxc, pull requests merged in 2018-09, with the labels that each got.

#2232 Fix Match URL scheme setting
  src/browser/BrowserService.cpp
Labels: bug, plugin: Browser integration

#2284 Refactor browser settings and TOTP
  src/CMakeLists.txt
  src/browser/BrowserAction.cpp
  src/browser/BrowserOptionDialog.cpp
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/browser/BrowserSettings.cpp
  src/browser/BrowserSettings.h
  src/browser/HostInstaller.cpp
  src/browser/HostInstaller.h
  src/browser/NativeMessagingHost.cpp
  src/browser/NativeMessagingHost.h
  src/core/Entry.cpp
  src/core/Entry.h
  src/gui/DatabaseWidget.cpp
  src/gui/DetailsWidget.cpp
  src/gui/DetailsWidget.h
  src/gui/MainWindow.cpp
  src/gui/SetupTotpDialog.cpp
  src/gui/SetupTotpDialog.ui
  src/gui/TotpDialog.cpp
  src/gui/TotpDialog.h
  src/gui/TotpSetupDialog.cpp
  src/gui/TotpSetupDialog.h
  src/gui/TotpSetupDialog.ui
  src/gui/csvImport/CsvImportWidget.cpp
  src/gui/csvImport/CsvImportWidget.h
  src/gui/entry/EntryModel.cpp
  src/gui/entry/EntryModel.h
  src/totp/totp.cpp
  src/totp/totp.h
  tests/TestEntryModel.cpp
  tests/TestTotp.cpp
  tests/TestTotp.h
  tests/gui/TestGui.cpp
Labels: high priority

#2249 Snapcraft update and bump to 2.4.0-preview
  CHANGELOG
  CMakeLists.txt
  share/linux/org.keepassxc.KeePassXC.appdata.xml
  snapcraft.yaml
Labels: distribution: Snap

#1851 Add support for quick unlock with TouchID on Macbook Pro
  CMakeLists.txt
  share/translations/keepassx_en_US.ts
  src/CMakeLists.txt
  src/config-keepassx.h.cmake
  src/core/Config.cpp
  src/gui/AboutDialog.cpp
  src/gui/DatabaseOpenWidget.cpp
  src/gui/DatabaseOpenWidget.ui
  src/gui/DatabaseWidget.cpp
  src/gui/MainWindow.cpp
  src/gui/MainWindow.h
  src/gui/SettingsWidget.cpp
  src/gui/SettingsWidgetSecurity.ui
  src/keys/PasswordKey.cpp
  src/keys/PasswordKey.h
  src/touchid/TouchID.h
  src/touchid/TouchID.mm
Labels: new feature, platform: macOS

#2311 Add support for opening file:// urls
  src/core/Entry.cpp
  tests/TestEntry.cpp
Labels: bug

#2318 Make password generator length use existing length if available
  src/gui/PasswordGeneratorWidget.cpp
  src/gui/PasswordGeneratorWidget.h
  src/gui/entry/EditEntryWidget.cpp
Labels: accessibility

#2329 Migrate AppImage building to linuxdeploy
  AppImage-Recipe.sh
  Dockerfile
  ci/snapcraft/Dockerfile
  ci/trusty/Dockerfile
  release-tool
  src/gui/masterkey/YubiKeyEditWidget.cpp
Labels: build system, distribution: AppImage, platform: Linux

#1992 Introduce synchronize merge method
  src/CMakeLists.txt
  src/autotype/AutoType.cpp
  src/browser/BrowserService.cpp
  src/cli/Merge.cpp
  src/core/AutoTypeAssociations.cpp
  src/core/AutoTypeAssociations.h
  src/core/Clock.cpp
  src/core/Clock.h
  src/core/Compare.cpp
  src/core/Compare.h
  src/core/Database.cpp
  src/core/Database.h
  src/core/Entry.cpp
  src/core/Entry.h
  src/core/Group.cpp
  src/core/Group.h
  src/core/Merger.cpp
  src/core/Merger.h
  src/core/Metadata.cpp
  src/core/TimeInfo.cpp
  src/core/TimeInfo.h
  src/core/Tools.h
  src/format/KdbxXmlReader.cpp
  src/gui/DatabaseWidget.cpp
  src/gui/TotpDialog.cpp
  src/gui/csvImport/CsvImportWidget.cpp
  src/gui/dbsettings/DatabaseSettingsWidgetGeneral.cpp
  src/gui/entry/EditEntryWidget.cpp
  src/gui/group/EditGroupWidget.h
  src/totp/totp.cpp
  tests/CMakeLists.txt
  tests/TestEntry.cpp
  tests/TestGlobal.h
  tests/TestGroup.cpp
  tests/TestGroup.h
  tests/TestKeePass2Format.cpp
  tests/TestMerge.cpp
  tests/TestMerge.h
  tests/TestModified.cpp
  tests/TestModified.h
  tests/gui/TestGui.cpp
  tests/stub/TestClock.cpp
  tests/stub/TestClock.h
Labels: PR: Ready for Merge, new feature
