Repository keepassxreboot/keepassxc, pull requests merged in 2018-07, with the labels that each got.

#1881 Disable merge button when db is locked.
  src/gui/MainWindow.cpp
  tests/gui/TestGui.cpp
Labels: bug

#2101 Add mid-stream app signing support to release-tool
  release-tool
  src/CMakeLists.txt
Labels: build system

#2116 Deny expired credentials
  src/browser/BrowserService.cpp
Labels: plugin: Browser integration

#2117 SSH Agent: Expect passphrases to be in UTF-8
  src/sshagent/OpenSSHKey.cpp
  tests/TestOpenSSHKey.cpp
  tests/TestOpenSSHKey.h
Labels: bug, plugin: SSH agent

#1768 Show all url schemas in entry view
  src/core/Entry.cpp
  src/core/Uuid.cpp
  src/gui/DatabaseWidget.cpp
  src/gui/DetailsWidget.cpp
  src/gui/DetailsWidget.ui
Labels: bug, user interface

#2003 Handle URL port and scheme when requesting credentials
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
Labels: needs work, plugin: Browser integration

#2120 SSH Agent: Show MD5 fingerprint of keys
  src/gui/entry/EditEntryWidget.cpp
  src/sshagent/OpenSSHKey.cpp
  src/sshagent/OpenSSHKey.h
  tests/TestOpenSSHKey.cpp
Labels: plugin: SSH agent

#2147 Corrects ordering of command/opts in cli manpage
  src/cli/keepassxc-cli.1
Labels: documentation
