Repository keepassxreboot/keepassxc, pull requests merged in 2018-12, with the labels that each got.

#2542 Handle credentials requests from HTTP Basic Auths separately
  src/browser/BrowserAction.cpp
  src/browser/BrowserOptionDialog.cpp
  src/browser/BrowserOptionDialog.ui
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/browser/BrowserSettings.cpp
  src/browser/BrowserSettings.h
Labels: plugin: Browser integration

#2540 Add create command to keepassxc-cli
  src/cli/CMakeLists.txt
  src/cli/Command.cpp
  src/cli/Create.cpp
  src/cli/Create.h
  src/cli/keepassxc-cli.1
  tests/TestCli.cpp
  tests/TestCli.h
Labels: plugin: CLI

#1744 Warn user if deleting entries that are referenced.
  src/core/Entry.cpp
  src/core/Entry.h
  src/core/Group.cpp
  src/core/Group.h
  src/core/Tools.cpp
  src/core/Tools.h
  src/gui/DatabaseWidget.cpp
  src/gui/DatabaseWidget.h
  src/gui/MainWindow.cpp
Labels: PR: Needs Work, user interface

#1904 Switch Browser Integration to use native raising of windows in macOS
  src/CMakeLists.txt
  src/autotype/mac/AutoTypeMac.cpp
  src/autotype/mac/AutoTypeMac.h
  src/autotype/mac/CMakeLists.txt
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/gui/DatabaseOpenDialog.cpp
  src/gui/DatabaseOpenDialog.h
  src/gui/DatabaseTabWidget.cpp
  src/gui/MessageBox.cpp
  src/gui/MessageBox.h
  src/gui/macutils/AppKit.h
  src/gui/macutils/AppKitImpl.h
  src/gui/macutils/AppKitImpl.mm
  src/gui/macutils/MacUtils.cpp
  src/gui/macutils/MacUtils.h
Labels: platform: macOS, plugin: Browser integration

#2331 Allow Enter key to select recent DB on OS X
  src/gui/WelcomeWidget.cpp
  src/gui/WelcomeWidget.h
Labels: PR: Ready for Merge

#2165 Multiple macOS fixes and include keepassxc-cli in DMG
  CMakeLists.txt
  src/cli/CMakeLists.txt
  src/cli/keepassxc-cli.cpp
  src/core/Bootstrap.cpp
  src/core/Bootstrap.h
  src/core/Translator.cpp
  src/gui/EditWidgetProperties.ui
  src/gui/dbsettings/DatabaseSettingsWidgetBrowser.ui
  src/gui/widgets/PopupHelpWidget.cpp
  src/gui/wizard/NewDatabaseWizard.cpp
  src/proxy/CMakeLists.txt
  tests/TestCli.cpp
  tests/gui/TestGui.cpp
Labels: PR: Ready for Merge, platform: macOS, plugin: CLI
