Repository keepassxreboot/keepassxc, pull requests merged in 2018-04, with the labels that each got.

#1811 Change socket location in macOS to temporary dir
  src/browser/NativeMessagingBase.cpp
Labels: plugin: Browser integration

#1787 SSH Agent: Fix wrong slot reference
  src/gui/entry/EditEntryWidget.cpp
Labels: bug

#1682 OpenSSHKey: correctly parse aes-256-cbc/ctr keys
  src/sshagent/OpenSSHKey.cpp
  tests/TestOpenSSHKey.cpp
  tests/TestOpenSSHKey.h
Labels: plugin: SSH agent

#1814 Fix build error on macOS
  src/core/Tools.cpp
Labels: bug

#1850 Pass TOTP with credential data to KeePassXC-Browser
  src/browser/BrowserService.cpp
Labels: plugin: Browser integration
