Repository keepassxreboot/keepassxc, pull requests merged in 2018-05, with the labels that each got.

#1810 Ignore non-connected databases from search with Browser Integration
  src/browser/BrowserAction.cpp
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
Labels: plugin: Browser integration

#1830 Brings messagebox to the front when updating credentials from KeePassXC-Browser
  src/browser/BrowserService.cpp
Labels: plugin: Browser integration

#1884 Lower after unlock request from KeePassXC-Browser
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
Labels: plugin: Browser integration

#1822 Implement best matches only option with browser integration
  src/browser/BrowserOptionDialog.cpp
  src/browser/BrowserService.cpp
  src/browser/BrowserSettings.h
Labels: plugin: Browser integration

#1908 Configurable global autotype start delay
  src/autotype/AutoType.cpp
  src/autotype/AutoTypePlatformPlugin.h
  src/autotype/mac/AutoTypeMac.cpp
  src/autotype/mac/AutoTypeMac.h
  src/autotype/test/AutoTypeTest.cpp
  src/autotype/test/AutoTypeTest.h
  src/autotype/windows/AutoTypeWindows.cpp
  src/autotype/windows/AutoTypeWindows.h
  src/autotype/xcb/AutoTypeXCB.cpp
  src/autotype/xcb/AutoTypeXCB.h
  src/core/Config.cpp
  src/gui/SettingsWidget.cpp
  src/gui/SettingsWidgetGeneral.ui
Labels: plugin: Auto-Type, user interface

#1907 Remove resolving placeholders for notes
  src/gui/DetailsWidget.cpp
  src/gui/entry/EntryModel.cpp
Labels: bug

#1923 Fix possible crash with latest STDIN changes.
  src/browser/NativeMessagingHost.cpp
Labels: bug, high priority, plugin: Browser integration

#1926 Fix Windows 32-bit building with ASLR
  CMakeLists.txt
Labels: build system

#1927 Update snapcraft to use ppa packages
  snapcraft.yaml
Labels: distribution: Snap

#1818 Change Unix socket location
  src/browser/NativeMessagingBase.cpp
Labels: plugin: Browser integration

#1964 fix missing include for Qt 5.11
  src/gui/entry/EditEntryWidget.cpp
Labels: build system

#1971 Build snaps using custom Docker image
  ci/snapcraft/Dockerfile
  release-tool
  snapcraft.yaml
Labels: build system, distribution: Snap

#1975 Disable merge when database is locked
  src/gui/DatabaseTabWidget.cpp
  src/gui/MainWindow.cpp
Labels: bug, high priority

#1980 Fix occasional crash when favicon progress dialog is closed
  src/gui/EditWidgetIcons.cpp
Labels: bug

#1957 improved unit test coverage in Tools
  src/core/Tools.cpp
  src/core/Tools.h
  tests/CMakeLists.txt
  tests/TestKeys.cpp
  tests/TestModified.cpp
  tests/TestTools.cpp
  tests/TestTools.h
Labels: tests
