Repository keepassxreboot/keepassxc, pull requests merged in 2019-08, with the labels that each got.

#3417 🛠 🛠 Repair build when YK disabled.
  src/keys/drivers/YubiKeyStub.cpp
Labels: build system

#3431 A handful of cleanups in keepassxc-cli
  src/cli/Add.cpp
  src/cli/Add.h
  src/cli/Clip.cpp
  src/cli/Clip.h
  src/cli/Command.cpp
  src/cli/Create.cpp
  src/cli/Create.h
  src/cli/Diceware.cpp
  src/cli/Diceware.h
  src/cli/Edit.cpp
  src/cli/Edit.h
  src/cli/Estimate.cpp
  src/cli/Estimate.h
  src/cli/Extract.cpp
  src/cli/Extract.h
  src/cli/Generate.cpp
  src/cli/Generate.h
  src/cli/List.cpp
  src/cli/List.h
  src/cli/Locate.cpp
  src/cli/Locate.h
  src/cli/Merge.cpp
  src/cli/Merge.h
  src/cli/Remove.cpp
  src/cli/Remove.h
  src/cli/Show.cpp
  src/cli/Show.h
Labels: plugin: CLI

#3430 Fix leak in keepassxc-cli Clip command
  src/cli/Utils.cpp
Labels: plugin: CLI

#3409 Improve accessibility
  src/browser/BrowserAccessControlDialog.ui
  src/browser/BrowserOptionDialog.ui
  src/browser/BrowserService.cpp
  src/core/Config.cpp
  src/core/Config.h
  src/core/Translator.cpp
  src/core/Translator.h
  src/gui/ApplicationSettingsWidget.cpp
  src/gui/ApplicationSettingsWidget.h
  src/gui/ApplicationSettingsWidgetGeneral.ui
  src/gui/ApplicationSettingsWidgetSecurity.ui
  src/gui/EditWidgetProperties.ui
  src/gui/EntryPreviewWidget.ui
  src/gui/MainWindow.cpp
  src/gui/MainWindow.ui
  src/gui/MessageBox.cpp
  src/gui/MessageBox.h
  src/gui/PasswordEdit.cpp
  src/gui/PasswordEdit.h
  src/gui/PasswordGeneratorWidget.ui
  src/gui/TotpSetupDialog.ui
  src/gui/WelcomeWidget.ui
  src/gui/csvImport/CsvImportWidget.ui
  src/gui/dbsettings/DatabaseSettingsWidgetBrowser.ui
  src/gui/dbsettings/DatabaseSettingsWidgetEncryption.ui
  src/gui/dbsettings/DatabaseSettingsWidgetGeneral.ui
  src/gui/dbsettings/DatabaseSettingsWidgetMetaDataSimple.ui
  src/gui/entry/EditEntryWidgetAdvanced.ui
  src/gui/entry/EditEntryWidgetAutoType.ui
  src/gui/entry/EditEntryWidgetHistory.ui
  src/gui/entry/EditEntryWidgetMain.ui
  src/gui/entry/EditEntryWidgetSSHAgent.ui
  src/gui/entry/EntryAttachmentsWidget.ui
  src/gui/entry/EntryView.cpp
  src/gui/entry/EntryView.h
  src/gui/group/EditGroupWidgetMain.ui
  src/gui/group/GroupView.cpp
  src/gui/group/GroupView.h
  src/gui/masterkey/KeyFileEditWidget.ui
  src/gui/masterkey/PasswordEditWidget.ui
  src/gui/masterkey/YubiKeyEditWidget.ui
  src/keeshare/SettingsWidgetKeeShare.ui
  src/keeshare/group/EditGroupWidgetKeeShare.ui
Labels: accessibility, high priority :rotating_light:

#3408 Improve handling of read-only files
  src/core/Database.cpp
  src/gui/DatabaseWidget.cpp
Labels: bug, high priority :rotating_light:

#3382 Update legacy database hashes automatically
  src/browser/BrowserAction.cpp
  src/browser/BrowserAction.h
Labels: plugin: Browser integration

#3371 Disable remember checkbox with Basic HTTP Auth
  src/browser/BrowserAccessControlDialog.cpp
  src/browser/BrowserAccessControlDialog.h
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
Labels: plugin: Browser integration

#3275 💻💻 CLI password generation options cleanup
  CHANGELOG
  src/cli/Add.cpp
  src/cli/Edit.cpp
  src/cli/Generate.cpp
  src/cli/Generate.h
  src/cli/keepassxc-cli.1
  tests/TestCli.cpp
  tests/TestCli.h
Labels: plugin: CLI
