Repository keepassxreboot/keepassxc, pull requests merged in 2019-09, with the labels that each got.

#3440 Allow abbreviation of search field names
  src/core/EntrySearcher.cpp
  src/gui/SearchHelpWidget.ui
  tests/TestEntrySearcher.cpp
Labels: new feature, user interface, ux

#3441 Connect ShareObserver to group signals
  src/keeshare/ShareObserver.cpp
Labels: plugin: KeeShare

#3508 Fix crash when removing custom data
  src/gui/EditWidgetProperties.cpp
  tests/data/NewDatabaseBrowser.kdbx
  tests/gui/CMakeLists.txt
  tests/gui/TestGuiBrowser.cpp
  tests/gui/TestGuiBrowser.h
Labels: bug, high priority :rotating_light:, plugin: Browser integration

#3512 Convert CHANGELOG to markdown format
  CHANGELOG
  CHANGELOG.md
  release-tool
Labels: documentation :bookmark_tabs:

#3540 Always show search menu when icon clicked
  src/gui/SearchWidget.cpp
  src/gui/SearchWidget.h
Labels: bug, ux

#3475 Merge custom data only when necessary
  src/core/Merger.cpp
  tests/TestMerge.cpp
  tests/TestMerge.h
Labels: bug

#3502 Additional database file checks in cli/Utils.unlockDatabase
  src/cli/Utils.cpp
  tests/TestCli.cpp
  tests/TestCli.h
Labels: plugin: CLI

#3278 CLI: Export database as CSV
  CHANGELOG.md
  src/cli/CMakeLists.txt
  src/cli/Command.cpp
  src/cli/Export.cpp
  src/cli/Export.h
  src/cli/Extract.cpp
  src/cli/keepassxc-cli.1
  src/format/CsvExporter.cpp
  src/format/CsvExporter.h
  tests/TestCli.cpp
  tests/TestCli.h
Labels: plugin: CLI

#3416 Add YK support on CLI.
  CHANGELOG.md
  src/CMakeLists.txt
  src/cli/Command.cpp
  src/cli/Command.h
  src/cli/DatabaseCommand.cpp
  src/cli/Merge.cpp
  src/cli/Merge.h
  src/cli/Utils.cpp
  src/cli/Utils.h
  src/cli/keepassxc-cli.1
  src/keys/YkChallengeResponseKey.cpp
  src/keys/YkChallengeResponseKeyCLI.cpp
  src/keys/YkChallengeResponseKeyCLI.h
  src/keys/drivers/YubiKey.cpp
  src/keys/drivers/YubiKey.h
  tests/TestCli.cpp
  tests/TestCli.h
  tests/TestYkChallengeResponseKey.cpp
  tests/data/YubiKeyProtectedPasswords.kdbx
Labels: plugin: CLI, plugin: YubiKey

#3313 CLI: Group commands
  CHANGELOG.md
  src/cli/AddGroup.cpp
  src/cli/AddGroup.h
  src/cli/CMakeLists.txt
  src/cli/Command.cpp
  src/cli/Move.cpp
  src/cli/Move.h
  src/cli/RemoveGroup.cpp
  src/cli/RemoveGroup.h
  src/cli/keepassxc-cli.1
  tests/TestCli.cpp
  tests/TestCli.h
Labels: plugin: CLI

#3583 Describe HTML export in the change log file
  CHANGELOG.md
Labels: documentation :bookmark_tabs:

#3426 Add open command, interactive CLI session support
  CHANGELOG.md
  cmake/FindReadline.cmake
  src/browser/BrowserAction.cpp
  src/cli/Add.cpp
  src/cli/CMakeLists.txt
  src/cli/Close.cpp
  src/cli/Close.h
  src/cli/Command.cpp
  src/cli/Command.h
  src/cli/Create.cpp
  src/cli/DatabaseCommand.cpp
  src/cli/Exit.cpp
  src/cli/Exit.h
  src/cli/Export.cpp
  src/cli/Help.cpp
  src/cli/Help.h
  src/cli/Open.cpp
  src/cli/Open.h
  src/cli/Utils.cpp
  src/cli/Utils.h
  src/cli/keepassxc-cli.1
  src/cli/keepassxc-cli.cpp
  src/keys/YkChallengeResponseKeyCLI.h
  tests/TestCli.cpp
  tests/TestCli.h
  tests/TestMerge.cpp
  tests/gui/TestGuiBrowser.cpp
Labels: plugin: CLI

#3516 Copy password of selected entry even if empty
  src/gui/MainWindow.cpp
Labels: bug, ux

#3515 Add missing tooltips to buttons
  src/gui/DatabaseOpenWidget.ui
  src/gui/EditWidgetIcons.ui
  src/gui/entry/EditEntryWidgetMain.ui
Labels: accessibility, documentation :bookmark_tabs:

#3480 Fix getting credentials from non-connected database
  src/browser/BrowserOptionDialog.ui
  src/browser/BrowserService.cpp
Labels: bug, plugin: Browser integration
