Repository keepassxreboot/keepassxc, pull requests merged in 2019-03, with the labels that each got.

#2763 Small fixes for Browser Integration
  src/browser/BrowserService.cpp
  src/browser/BrowserSettings.cpp
Labels: bug, plugin: Browser integration, ux

#2795 Remediate errors in various favicon fetch scenarios (#2779)
  src/gui/EditWidgetIcons.cpp
  src/gui/EditWidgetIcons.h
  src/gui/entry/EditEntryWidget.cpp
Labels: bug

#2790 Allow creating new groups with Browser Integration
  src/browser/BrowserAction.cpp
  src/browser/BrowserAction.h
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
Labels: plugin: Browser integration

#2810 src/gui/DatabaseWidget.cpp: Build fails without WITH_XC_KEESHARE
  src/gui/DatabaseWidget.cpp
Labels: high priority, plugin: KeeShare

#2774 src/cli/CMakeLists.txt: Don't call mandb
  src/cli/CMakeLists.txt
Labels: build system, plugin: CLI

#2832 Snap: improve cursor theme
  snapcraft.yaml
Labels: distribution: Snap

#2714 Adding debug info to CLI.
  src/cli/keepassxc-cli.1
  src/cli/keepassxc-cli.cpp
  src/core/Tools.cpp
  src/core/Tools.h
  src/crypto/Crypto.cpp
  src/crypto/Crypto.h
  src/crypto/CryptoHash.cpp
  src/crypto/Random.cpp
  src/crypto/SymmetricCipherGcrypt.cpp
  src/gui/AboutDialog.cpp
  src/main.cpp
Labels: new feature, plugin: CLI, refactor

#2708 Adding --no-password option to CLI
  src/cli/Add.cpp
  src/cli/Clip.cpp
  src/cli/Command.cpp
  src/cli/Command.h
  src/cli/Edit.cpp
  src/cli/Extract.cpp
  src/cli/List.cpp
  src/cli/Locate.cpp
  src/cli/Merge.cpp
  src/cli/Remove.cpp
  src/cli/Show.cpp
  src/cli/Utils.cpp
  src/cli/Utils.h
  src/cli/keepassxc-cli.1
  tests/TestCli.cpp
  tests/TestCli.h
  tests/data/KeyFileProtected.kdbx
  tests/data/KeyFileProtected.key
  tests/data/KeyFileProtectedNoPassword.kdbx
  tests/data/KeyFileProtectedNoPassword.key
Labels: plugin: CLI

#2859 Add Haiku support
  CMakeLists.txt
  share/CMakeLists.txt
  src/CMakeLists.txt
  src/autotype/CMakeLists.txt
  src/crypto/ssh/includes.h
  src/gui/MainWindow.cpp
Labels: distribution

#2836 Prevent crash when editing master key
  src/gui/masterkey/PasswordEditWidget.cpp
Labels: bug, high priority

#2872 Fix base64 check missing '/' as valid character
  src/core/Tools.cpp
  tests/TestTools.cpp
Labels: bug, high priority

#2824 Fix a typo in EditGroupWidgetKeeShare
  src/keeshare/KeeShare.cpp
  src/keeshare/ShareObserver.cpp
  src/keeshare/group/EditGroupWidgetKeeShare.cpp
Labels: plugin: KeeShare, user interface

#2896 add Lock Databases option to tray icon menu
  src/gui/MainWindow.cpp
Labels: ux
