Repository keepassxreboot/keepassxc, pull requests merged in 2019-07, with the labels that each got.

#3349 Add setting for not displaying KeePassHTTP migration popup
  src/browser/BrowserOptionDialog.cpp
  src/browser/BrowserOptionDialog.ui
  src/browser/BrowserService.cpp
  src/browser/BrowserSettings.cpp
  src/browser/BrowserSettings.h
  src/gui/MessageBox.cpp
  src/gui/MessageBox.h
Labels: plugin: Browser integration

#3347 Remove Carbon from Mac Auto-Type
  src/autotype/mac/AutoTypeMac.cpp
  src/autotype/mac/AutoTypeMac.h
  src/autotype/mac/AutoTypeMacKeyCodes.h
  src/autotype/mac/CMakeLists.txt
  src/gui/macutils/AppKit.h
  src/gui/macutils/AppKitImpl.h
  src/gui/macutils/AppKitImpl.mm
  src/gui/macutils/MacUtils.cpp
  src/gui/macutils/MacUtils.h
Labels: platform: macOS, plugin: Auto-Type, refactor

#3352 Adding OnlyKey support
  src/keys/YkChallengeResponseKey.cpp
  src/keys/drivers/YubiKey.cpp
  src/keys/drivers/YubiKey.h
Labels: plugin: YubiKey
