Repository keepassxreboot/keepassxc, pull requests merged in 2019-12, with the labels that each got.

#4033 Remove extra check for additional URLs
  src/browser/BrowserService.cpp
Labels: bug, plugin: Browser integration

#3912 Show UI warning for invalid URL's
  src/CMakeLists.txt
  src/core/Tools.cpp
  src/core/Tools.h
  src/gui/URLEdit.cpp
  src/gui/URLEdit.h
  src/gui/entry/EditEntryWidget.cpp
  src/gui/entry/EditEntryWidgetMain.ui
  src/gui/entry/EntryURLModel.cpp
  src/gui/entry/EntryURLModel.h
  tests/TestBrowser.cpp
  tests/TestBrowser.h
Labels: new feature

#3922 Fix memory leaks (mostly) in tests
  src/gui/SearchWidget.cpp
  tests/TestGroup.cpp
  tests/TestOpVaultReader.cpp
Labels: bug, tests

#3946 Partial fix for building on Mac OS X < 10.12
  src/gui/macutils/AppKitImpl.mm
Labels: platform: macOS

#3952 Fix crash upon exiting interactive mode if there is no current database.
  src/cli/keepassxc-cli.cpp
Labels: bug, plugin: CLI

#4026 Move FeatureSummary include to top of CMakeLists
  CMakeLists.txt
Labels: bug, build system

#3927 Add option to use entry only for HTTP Basic Auth
  src/browser/BrowserAction.cpp
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/core/Global.h
  src/gui/entry/EditEntryWidget.cpp
  src/gui/entry/EditEntryWidgetBrowser.ui
  tests/TestBrowser.cpp
Labels: new feature, plugin: Browser integration

#3961 Fix keyfile from/to parameter collision
  share/docs/man/keepassxc-cli.1
  src/cli/Merge.cpp
  tests/CMakeLists.txt
  tests/TestCli.cpp
  tests/TestCli.h
Labels: bug, plugin: CLI

#4008 Secret Service Integration: fix all exposed entries are returned if search with empty terms
  src/fdosecrets/objects/Collection.cpp
Labels: bug, plugin: Secret Service
