Repository keepassxreboot/keepassxc, pull requests merged in 2020-11, with the labels that each got.

#5653 Use strict check for std::sort to prevent recursion
  src/browser/BrowserService.cpp
Labels: crash :boom:, plugin: Browser integration

#5692 Document support for managed Microsoft Edge
  docs/topics/BrowserPlugin.adoc
Labels: documentation :bookmark_tabs:, plugin: Browser integration

#5660 Secret Service: cleanup and fix crash
  src/fdosecrets/FdoSecretsPlugin.cpp
  src/fdosecrets/FdoSecretsPlugin.h
  src/fdosecrets/objects/Collection.cpp
  src/fdosecrets/objects/Collection.h
  src/fdosecrets/objects/DBusObject.cpp
  src/fdosecrets/objects/DBusObject.h
  src/fdosecrets/objects/DBusTypes.h
  src/fdosecrets/objects/Item.cpp
  src/fdosecrets/objects/Item.h
  src/fdosecrets/objects/Prompt.cpp
  src/fdosecrets/objects/Prompt.h
  src/fdosecrets/objects/Service.cpp
  src/fdosecrets/objects/Service.h
  src/fdosecrets/objects/Session.cpp
  src/fdosecrets/objects/Session.h
  src/fdosecrets/objects/adaptors/CollectionAdaptor.cpp
  src/fdosecrets/objects/adaptors/DBusAdaptor.h
  src/fdosecrets/objects/adaptors/PromptAdaptor.cpp
  src/fdosecrets/objects/adaptors/ServiceAdaptor.cpp
  tests/gui/TestGuiFdoSecrets.cpp
  tests/gui/TestGuiFdoSecrets.h
Labels: plugin: Secret Service

#5727 Attach console in debug mode on Windows
  src/gui/osutils/winutils/WinUtils.cpp
Labels: platform: Windows
