Repository keepassxreboot/keepassxc, pull requests merged in 2021-09, with the labels that each got.

#5874 Add support for Visual Studio build
  CMakeLists.txt
  INSTALL.md
  cmake/FindBotan2.cmake
  cmake/FindQREncode.cmake
  cmake/FindQuaZip.cmake
  cmake/FindYubiKey.cmake
  docs/CMakeLists.txt
  release-tool
  share/translations/CMakeLists.txt
  src/CMakeLists.txt
  src/autotype/windows/AutoTypeWindows.h
  src/browser/BrowserHost.cpp
  src/cli/CMakeLists.txt
  src/cli/TextStream.cpp
  src/gui/osutils/winutils/WinUtils.h
  src/proxy/CMakeLists.txt
  src/proxy/NativeMessagingProxy.cpp
  src/qrcode/CMakeLists.txt
  src/zxcvbn/zxcvbn.c
Labels: platform: Windows, build system

#5526 Feature/apple watch support
  src/touchid/TouchID.mm
Labels: new feature, platform: macOS

#6893 Add "parent directory match" priority between exact and host match
  src/browser/BrowserService.cpp
  tests/TestBrowser.cpp
Labels: feature: Browser

#6868 Minor documentation and script cleanups
  .clang-format
  .github/CONTRIBUTING.md
  CHANGELOG.md
  INSTALL.md
  LICENSE.GPL-2
  LICENSE.GPL-3
  LICENSE.LGPL-2.1
  LICENSE.LGPL-3
  README.md
  cmake/CodeCoverage.cmake
  cmake/FindReadline.cmake
  docs/CMakeLists.txt
  docs/topics/AutoType.adoc
  docs/topics/BrowserPlugin.adoc
  docs/topics/Reference.adoc
  docs/topics/SSHAgent.adoc
  release-tool
  share/icons/minify.sh
  share/translations/update.sh
  share/windows/create-ico.sh
  share/windows/wix-template.xml
  snap/local/launchers/README.md
  sonar-project.properties
  utils/keepassxc-cr-recovery/README.md
  utils/keepassxc-kdewallet
  utils/keepassxc-keychain
  utils/keepassxc-snap-helper.sh
  utils/makeappicons.sh
  utils/makedbicons.sh
Labels: documentation :bookmark_tabs:, build system

#6899 Add delete-entry command to Browser Integration API
  src/browser/BrowserAction.cpp
  src/browser/BrowserAction.h
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/core/Tools.cpp
  src/core/Tools.h
  tests/TestTools.cpp
  tests/TestTools.h
Labels: new feature, feature: Browser

#6945 Fix tests on macOS and update coverage config
  CMakeLists.txt
  cmake/CodeCoverage.cmake
  codecov.yaml
  src/gui/PasswordEdit.cpp
  tests/gui/TestGui.cpp
Labels: tests, ci

#7000 Update and improve release-tool
  release-tool
Labels: build system
