Repository keepassxreboot/keepassxc, pull requests merged in 2021-08, with the labels that each got.

#6724 Add information to Autoopen
  docs/topics/DatabaseOperations.adoc
Labels: documentation :bookmark_tabs:

#6761 Remove explicit fonts from SVG
  share/icons/database/C29_KGPG_Term.svg
  share/icons/database/C30_Konsole.svg
Labels: bug

#6124 Add group clone action
  COPYING
  share/icons/application/scalable/actions/group-clone.svg
  share/icons/icons.qrc
  src/core/Group.cpp
  src/core/Group.h
  src/gui/DatabaseWidget.cpp
  src/gui/DatabaseWidget.h
  src/gui/MainWindow.cpp
  src/gui/MainWindow.ui
Labels: ux

#6832 Set the MIME-Type to text/plain when using wl-copy on wayland.
  src/cli/Utils.cpp
Labels: feature: CLI, platform: Wayland

#6792 Abort CLI open on error
  src/cli/Command.cpp
  src/cli/keepassxc-cli.cpp
Labels: feature: CLI

#6711 Enhance last used directory settings
  src/core/Config.cpp
  src/core/Config.h
  src/gui/ApplicationSettingsWidget.cpp
  src/gui/DatabaseOpenWidget.cpp
  src/gui/DatabaseTabWidget.cpp
  src/gui/DatabaseWidget.cpp
  src/gui/EditWidgetIcons.cpp
  src/gui/FileDialog.cpp
  src/gui/FileDialog.h
  src/gui/entry/EditEntryWidget.cpp
  src/gui/entry/EntryAttachmentsWidget.cpp
  src/keeshare/SettingsWidgetKeeShare.cpp
  src/keeshare/group/EditGroupWidgetKeeShare.cpp
Labels: new feature

#6833 Dont Scroll up When Deleting Entry
  src/gui/DatabaseWidget.cpp
  src/gui/entry/EntryView.cpp
  src/gui/entry/EntryView.h
Labels: bug

#6659 Handle tilde with custom browser paths
  src/browser/BrowserSettings.cpp
  src/browser/BrowserSettings.h
  src/browser/BrowserSettingsWidget.cpp
  src/browser/BrowserSettingsWidget.ui
Labels: bug, feature: Browser

#6288 Add a SSH agent option to use both Pageant and OpenSSH agent simultaneously in Windows
  src/core/Config.cpp
  src/core/Config.h
  src/sshagent/AgentSettingsWidget.cpp
  src/sshagent/AgentSettingsWidget.ui
  src/sshagent/SSHAgent.cpp
  src/sshagent/SSHAgent.h
Labels: platform: Windows, feature: SSH agent

#5528 Move CsvParser to format/
  src/CMakeLists.txt
  src/format/CsvParser.cpp
  src/format/CsvParser.h
  src/gui/csvImport/CsvParserModel.h
  tests/TestCsvParser.h
Labels: refactor

#6805 Remove Group::locate
  docs/man/keepassxc-cli.1.adoc
  src/cli/CMakeLists.txt
  src/cli/Clip.cpp
  src/cli/Command.cpp
  src/cli/Search.cpp
  src/cli/Search.h
  src/core/Group.cpp
  src/core/Group.h
  tests/TestCli.cpp
  tests/TestCli.h
  tests/TestGroup.cpp
  tests/TestGroup.h
Labels: feature: CLI, refactor

#6876 Display `Database created` timestamp #6356
  src/gui/reports/ReportsWidgetStatistics.cpp
Labels: feature: Reports
