Repository keepassxreboot/keepassxc, pull requests merged in 2021-04, with the labels that each got.

#6357 Auto-Type: Allow actions to fail and be retried
  src/autotype/AutoType.cpp
  src/autotype/AutoTypeAction.cpp
  src/autotype/AutoTypeAction.h
  src/autotype/mac/AutoTypeMac.cpp
  src/autotype/mac/AutoTypeMac.h
  src/autotype/test/AutoTypeTest.cpp
  src/autotype/test/AutoTypeTest.h
  src/autotype/windows/AutoTypeWindows.cpp
  src/autotype/windows/AutoTypeWindows.h
  src/autotype/xcb/AutoTypeXCB.cpp
  src/autotype/xcb/AutoTypeXCB.h
Labels: plugin: Auto-Type

#6333 Show countdown for clipboard clearing
  src/gui/Clipboard.cpp
  src/gui/Clipboard.h
  src/gui/MainWindow.cpp
  src/gui/MainWindow.h
  src/gui/styles/base/basestyle.qss
  src/gui/styles/dark/DarkStyle.cpp
  src/gui/styles/light/LightStyle.cpp
Labels: user interface

#6353 Remove credential sorting from Browser Integration
  src/browser/BrowserService.cpp
  src/browser/BrowserSettings.cpp
  src/browser/BrowserSettings.h
  src/browser/BrowserSettingsWidget.cpp
  src/browser/BrowserSettingsWidget.ui
  src/core/Config.cpp
  src/core/Config.h
  tests/TestBrowser.cpp
  tests/TestBrowser.h
Labels: plugin: Browser integration

#6361 Auto-Type: Shortcut to search all entries, checkbox, default selection
  src/autotype/AutoType.cpp
  src/autotype/AutoTypeMatchView.cpp
  src/autotype/AutoTypeMatchView.h
  src/autotype/AutoTypeSelectDialog.cpp
  src/autotype/AutoTypeSelectDialog.ui
Labels: plugin: Auto-Type

#6351 Auto-Type: Abort keystroke if modifiers held on X11
  src/autotype/xcb/AutoTypeXCB.cpp
Labels: bug, platform: Linux, plugin: Auto-Type

#6334 OPVault: Use Text instead of Name for attribute names
  src/format/OpVaultReader.h
  src/format/OpVaultReaderSections.cpp
  tests/TestOpVaultReader.cpp
Labels: bug, import: OPVault

#6332 Use application font size when setting default or monospace fonts
  src/gui/Font.cpp
Labels: bug, user interface

#6365 SSH Agent: Allow using database path to resolve keys
  src/gui/entry/EditEntryWidget.cpp
  src/sshagent/KeeAgentSettings.cpp
  src/sshagent/KeeAgentSettings.h
Labels: plugin: SSH agent

#6364 Auto-Type: PageUp/PageDown scrolling for entries
  src/autotype/AutoTypeMatchView.cpp
  src/autotype/AutoTypeMatchView.h
  src/autotype/AutoTypeSelectDialog.cpp
  src/autotype/AutoTypeSelectDialog.h
Labels: plugin: Auto-Type

#6370 Update YubiKey stub implementation for Botan
  src/keys/drivers/YubiKeyStub.cpp
Labels: bug, regression

#6416 Allow the Group column to be toggled for entry view. Fixes #6163
  src/gui/entry/EntryView.cpp
Labels: user interface

#6414 Add CTRL+Enter to apply password generator changes
  docs/topics/PasswordGenerator.adoc
  src/gui/PasswordGeneratorWidget.cpp
  src/gui/PasswordGeneratorWidget.ui
Labels: ux

#6410 Docs: example for how to search using attributes
  docs/topics/DatabaseOperations.adoc
Labels: documentation :bookmark_tabs:

#6400 Auto-Type: Increase max inter-type delay to 500 ms
  src/autotype/AutoType.cpp
Labels: plugin: Auto-Type

#6433 Introduce security option to enable copy on doubleclick
  docs/images/enable_copy_dc.png
  docs/topics/UserInterface.adoc
  src/core/Config.cpp
  src/core/Config.h
  src/gui/ApplicationSettingsWidget.cpp
  src/gui/ApplicationSettingsWidgetSecurity.ui
  src/gui/DatabaseWidget.cpp
Labels: documentation :bookmark_tabs:, security, ux

#6435 Allow resizing of reports table columns
  src/gui/reports/ReportsWidgetHealthcheck.cpp
  src/gui/reports/ReportsWidgetHibp.cpp
Labels: plugin: Reports, user interface

#6396 Improve description text when changing Key File credential
  src/gui/databasekey/KeyFileEditWidget.cpp
  src/gui/databasekey/KeyFileEditWidget.ui
  tests/gui/TestGui.cpp
Labels: documentation :bookmark_tabs:, user interface
