Repository keepassxreboot/keepassxc, pull requests merged in 2021-03, with the labels that each got.

#5509 Fix favicon download from URL with non-standard port.
  src/gui/IconDownloader.cpp
  src/gui/IconDownloader.h
  tests/CMakeLists.txt
  tests/TestIconDownloader.cpp
  tests/TestIconDownloader.h
Labels: new feature

#6204 Auto-Type: Allow selection of modal dialogs on X11
  src/autotype/xcb/AutoTypeXCB.cpp
  src/autotype/xcb/AutoTypeXCB.h
Labels: plugin: Auto-Type

#6236 Force Always on Top to be persisted
  src/core/Config.cpp
  src/core/Config.h
  src/gui/MainWindow.cpp
Labels: ux

#6216 Make KeePassXC start after the system tray is available on LXQt
  src/gui/osutils/nixutils/NixUtils.cpp
Labels: platform: Linux

#6211 Allow CSV import of bare TOTP secrets
  src/gui/csvImport/CsvImportWidget.cpp
Labels: import: CSV, plugin: TOTP

#6247 Auto-Type: Support multiple Xkb layouts
  src/autotype/AutoType.cpp
  src/autotype/AutoTypeAction.cpp
  src/autotype/AutoTypeAction.h
  src/autotype/mac/AutoTypeMac.cpp
  src/autotype/mac/AutoTypeMac.h
  src/autotype/test/AutoTypeTest.cpp
  src/autotype/test/AutoTypeTest.h
  src/autotype/windows/AutoTypeWindows.cpp
  src/autotype/windows/AutoTypeWindows.h
  src/autotype/xcb/AutoTypeXCB.cpp
  src/autotype/xcb/AutoTypeXCB.h
  src/gui/osutils/nixutils/KeySymMap.h
  src/gui/osutils/nixutils/NixUtils.cpp
  src/gui/osutils/nixutils/NixUtils.h
  src/gui/osutils/nixutils/X11Funcs.cpp
Labels: bug, platform: Linux, plugin: Auto-Type
