Repository keepassxreboot/keepassxc, pull requests merged in 2022-08, with the labels that each got.

#8202 Better handling of "Lock on Minimize" setting
  share/translations/keepassxc_en.ts
  src/gui/ApplicationSettingsWidget.cpp
  src/gui/Clipboard.cpp
  src/gui/Clipboard.h
  src/gui/DatabaseTabWidget.cpp
  src/gui/DatabaseTabWidget.h
  src/gui/MainWindow.cpp
Labels: ux, backport-pending

#8241 Adding top-level fields to CLI show and clip commands
  src/cli/Clip.cpp
  src/cli/Show.cpp
  src/cli/Utils.cpp
  src/cli/Utils.h
  src/core/EntryAttributes.cpp
  tests/TestCli.cpp
Labels: feature: CLI

#8256 [CLI] Add Option to show all attributes (Show command)
  docs/man/keepassxc-cli.1.adoc
  share/translations/keepassxc_en.ts
  src/cli/Show.cpp
  src/cli/Show.h
  tests/TestCli.cpp
Labels: new feature, feature: CLI, backport-pending
