Repository keepassxreboot/keepassxc, pull requests merged in 2022-02, with the labels that each got.

#7168 Enable "-fsized-deallocation" iif deallocation functions are really present
  CMakeLists.txt
Labels: build system

#7266 Update BrowserPlugin.adoc
  docs/topics/BrowserPlugin.adoc
Labels: documentation :bookmark_tabs:

#7391 Auto-Type: Only match non-empty associations
  share/translations/keepassxc_en.ts
  src/core/Entry.cpp
  src/gui/entry/AutoTypeAssociationsModel.cpp
Labels: feature: Auto-Type

#7422 Implement org.freedesktop.appearance.color-scheme support on Linux
  src/gui/osutils/nixutils/NixUtils.cpp
  src/gui/osutils/nixutils/NixUtils.h
Labels: platform: Linux, theme

#7436 Fix styling of database tag view in main window
  share/translations/keepassxc_en.ts
  src/core/Config.cpp
  src/core/Config.h
  src/gui/DatabaseWidget.cpp
  src/gui/MainWindow.cpp
  src/gui/MainWindow.ui
  src/gui/group/GroupView.cpp
  src/gui/styles/base/basestyle.qss
Labels: user interface

#7435 Auto-Type: Allow retyping with automatic relock
  share/translations/keepassxc_en.ts
  src/autotype/AutoType.cpp
  src/autotype/AutoType.h
  src/core/Config.cpp
  src/core/Config.h
  src/gui/ApplicationSettingsWidget.cpp
  src/gui/ApplicationSettingsWidgetGeneral.ui
  src/gui/ApplicationSettingsWidgetSecurity.ui
  src/gui/DatabaseTabWidget.cpp
Labels: feature: Auto-Type

#7404 Fix password generator responses
  src/browser/BrowserAction.cpp
  src/browser/BrowserAction.h
  src/browser/BrowserHost.cpp
  src/browser/BrowserHost.h
  src/browser/BrowserMessageBuilder.cpp
  src/browser/BrowserMessageBuilder.h
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/browser/CMakeLists.txt
  tests/TestBrowser.cpp
Labels: bug, feature: Browser

#7463 Properly press AltGr key in Windows Auto-Type
  src/autotype/windows/AutoTypeWindows.cpp
  src/gui/osutils/winutils/WinUtils.cpp
Labels: bug, platform: Windows, feature: Auto-Type
