Repository keepassxreboot/keepassxc, pull requests merged in 2024-11, with the labels that each got.

#11426 Fixed background color when window is out of focus
  src/gui/styles/dark/darkstyle.qss
  src/gui/styles/light/lightstyle.qss
Labels: bug, theme

#11290 Add timeout to SSH Agent streams
  src/sshagent/BinaryStream.cpp
  src/sshagent/BinaryStream.h
Labels: bug, feature: SSH agent

#11428 Replace legacy code on macOS builds
  src/CMakeLists.txt
  src/autotype/mac/CMakeLists.txt
  src/gui/osutils/macutils/AppKitImpl.mm
Labels: bug, high priority :rotating_light:, platform: macOS

#11410 Device Password fallback when Touch-ID devices are unavailable
  src/quickunlock/TouchID.h
  src/quickunlock/TouchID.mm
Labels: new feature, platform: macOS, feature: QuickUnlock

#11435 Browser: Fix cancel with database unlock dialog
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/gui/DatabaseTabWidget.cpp
  src/gui/MainWindow.cpp
  src/gui/MainWindow.h
Labels: bug, feature: Browser

#11455 Fix status bar on WelcomeScreen
  src/gui/MainWindow.cpp
Labels: user interface

#11469 Detect outdated VC Redist with MSI Installer
  share/windows/wix-template.xml
Labels: distribution, platform: Windows, pr: bugfix

#11511 DarkTheme: Fix separator color for TagView
  src/gui/tag/TagView.cpp
Labels: user interface, theme, pr: backport pending
