Repository keepassxreboot/keepassxc, pull requests merged in 2024-12, with the labels that each got.

#11470 CLI: Restore the original codepage on windows
  src/cli/Utils.cpp
  src/cli/Utils.h
  src/cli/keepassxc-cli.cpp
  src/main.cpp
Labels: feature: CLI, pr: bugfix

#11535 DarkTheme: Fix color for handles
  src/gui/styles/dark/darkstyle.qss
Labels: theme

#11539 Fix entry preview rendering HTML
  src/gui/EntryPreviewWidget.cpp
Labels: user interface, pr: bugfix

#11521 Additional exclusion fields for Windows Clipboard
  src/gui/Clipboard.cpp
Labels: platform: Windows

#11518 Add copy shortcuts to Auto-Type select dialog
  src/autotype/AutoTypeSelectDialog.cpp
Labels: feature: Auto-Type

#11354 Fix renaming extension key name in Database Settings
  src/browser/BrowserService.cpp
  src/core/CustomData.cpp
  src/core/CustomData.h
  src/gui/dbsettings/DatabaseSettingsWidgetBrowser.cpp
  src/gui/dbsettings/DatabaseSettingsWidgetBrowser.h
Labels: feature: Browser, pr: bugfix

#11255 Passphrase "MIXED case" Type
  share/translations/keepassxc_en.ts
  src/core/PassphraseGenerator.cpp
  src/core/PassphraseGenerator.h
  src/gui/PasswordGeneratorWidget.cpp
  src/gui/PasswordGeneratorWidget.ui
  tests/gui/TestGui.cpp
Labels: pr: new feature

#11602 Fix passphrase word lists not rendering with UTF-8
  src/core/PassphraseGenerator.cpp
Labels: pr: bugfix, feature: Password Generator
