Repository keepassxreboot/keepassxc, pull requests merged in 2024-09, with the labels that each got.

#11220 Document Custom Browser option
  docs/images/browser_custom_browser_configuration.png
  docs/topics/BrowserPlugin.adoc
Labels: documentation :bookmark_tabs:, feature: Browser

#11218 Allow deleting extension plugin data from Browser Statistics
  share/translations/keepassxc_en.ts
  src/browser/BrowserService.cpp
  src/browser/BrowserService.h
  src/gui/GuiTools.cpp
  src/gui/GuiTools.h
  src/gui/dbsettings/DatabaseSettingsWidgetBrowser.cpp
  src/gui/reports/ReportsWidgetBrowserStatistics.cpp
  src/gui/reports/ReportsWidgetBrowserStatistics.h
Labels: new feature, feature: Browser

#11229 Support KeePass2 TOTP settings
  src/core/Entry.cpp
  src/core/Totp.cpp
  src/core/Totp.h
  src/gui/TotpExportSettingsDialog.cpp
  src/gui/TotpSetupDialog.cpp
  tests/TestTotp.cpp
  tests/TestTotp.h
Labels: new feature, feature: TOTP
