Repository keepassxreboot/keepassxc, pull requests merged in 2025-09, with the labels that each got.

#12431 Fix keyboard shortcuts when menubar is hidden
  src/gui/MainWindow.cpp
Labels: user interface

#12413 Browser: Do not allow site automatically
  src/browser/BrowserService.cpp
Labels: security, feature: Browser, pr: bugfix

#11871 Fix Do not ask permission for HTTP Basic Auth option
  src/browser/BrowserService.cpp
Labels: feature: Browser, pr: bugfix

#11967 Several ui fixes
  src/gui/ApplicationSettingsWidget.cpp
  src/gui/ApplicationSettingsWidgetGeneral.ui
  src/gui/MainWindow.cpp
  src/gui/dbsettings/DatabaseSettingsWidgetEncryption.ui
  src/gui/styles/base/BaseStyle.cpp
  src/gui/styles/dark/darkstyle.qss
Labels: user interface
